{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
    <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Technologies</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item">Django</li>
                        <li class="list-inline-item">SQL</li>
                    </ul>
                </div>
            </section>
    <hr class="m-0" />
{% endblock content %}