{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
    <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Taras
                        <span class="text-primary">Kovalenko</span>
                    </h1>
                    <div class="subheading mb-5">
                         Kyiv, Ukraine · +(380) 98 76 36 612 · kovalenkotaras205@gmail.com
                    </div>
                        <p class="lead mb-5">
                            I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/taras-kovalenko-a0675424a/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="social-icon" href="https://github.com/Zo0M999?tab=repositories">
                            <i class="fab fa-github"></i>
                        </a>
                        <a class="social-icon" href="https://web.telegram.org/k/#@kovalenko9197">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </div>
                </div>
            </section>
        <hr class="m-0" />
{% endblock content %}