{% extends "layouts/base.html" %}

{% block content %}
{% load static %}
    <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">myCV Project</h2>
                    <p>
                        This is my Django project.
                    </p>
                    <p class="mb-0">
                        It's pretty simple, but I believe this is much more stylish & creative way of introducing myself.
                    </p>
                </div>
            </section>
    <hr class="m-0" />
{% endblock content %}