{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Courses</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Step Computer Academy</h3>
                <div class="subheading mb-3">Python Developer</div>
                <div>
                    <a href="{% static 'assets/files/TarasKovalenkoENG.pdf' %}">TarasKovalenkoDiplomaENG.pdf</a>
                    <br>
                    <a href="{% static 'assets/files/KovalenkoTarasUKR.pdf' %}">TarasKovalenkoDiplomaUKR.pdf</a>
                </div>
            </div>
            <div class="flex-shrink-0">
                <span class="text-primary">November 2021 - May 2022</span>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock content %}